<template>
    <div class="card card-info">
        <div class="card-header blue">
            <div class="pull-right">
     <button type="button"  class="btn btn-primary " data-toggle="modal"  data-target="#dialog-admin-warehouse-import">
      Upload Stock Transfer CSV
    </button>
    <button @click="exportCSV" class="btn btn-primary">Export</button></div>
                <div class="card-title">
                    <div class="title" v-text="warehouse.location"></div>
                        <button v-if="current_page > 1" class="btn btn-default" @click="previous">previous</button>
                        <button v-if="current_page < Math.ceil(recordsTotal/ per_page)  " class="btn btn-default" @click="next">next</button>
                        <span> 
                            page <input type="number" v-model="current_page"  @keyup.enter="goTo" @click="goTo" style="width:80px"/> 
                            
                            / {{ Math.ceil(recordsTotal/ per_page) }} 
                        </span>
                        
                        <input type="text" v-model="keyword" @keyup.enter="search" placeholder="search ..." />

                        <i v-if="loading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive text-center">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">SKU</th>
                                <th class="text-center">Part</th>
                                <th class="text-center">Total</th>
                                <th class="text-center" v-text="warehouse.location"></th>
                                <th class="text-center">In</th>
                                <th class="text-center">Out</th>
                                <th class="text-center">Log</th>
                                
                            </tr>
                        </thead>
                        <tbody id="vehicles-table">
                             <tr v-for="item in stocks">
                                <td v-text="item.itemCode"></td>
                                <td v-text="item.part"></td>
                                <td v-text="item.quantity"></td>
                                <td v-text="item.location[warehouse.id]"></td>
                                <td>
                                     <button class="btn btn-success" data-toggle="modal" data-target="#in" @click="setPartIn(item.stock_parts_id)">part</button>
                                     <button class="btn btn-success" data-toggle="modal" data-target="#in" @click="setItemIn(item.parent_id)">item</button>
                                </td>
                                <td>
                                     <button class="btn btn-danger" data-toggle="modal" data-target="#in" @click="setPartOut(item.stock_parts_id)">part</button>
                                     <button class="btn btn-danger" data-toggle="modal" data-target="#in" @click="setItemOut(item.parent_id)">item</button>
                                </td>
                                <td>
                                    <button class="btn btn-info" @click="viewLog(item.id)">Show log</button>
                                </td>
                            </tr>
                                                    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                 <span>
                    <label>Per page</label>
                        <select v-model="per_page" @change="handlePerPage">
                                <option value="10" >10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                        </select>
                </span>
                <span>{{ this.recordsTotal }} number of records.</span>
            </div>

            <div class="modal fade" id="in" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="warehouse.location"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                            <label>Select warehouse:</label>
                                <select class="form-control" v-model="selectedWarehouse">
                                     <option v-for="warehouse in warehouses" :value="warehouse.location">{{warehouse.location}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Quantity:</label>
                                <input class="form-control" v-model="quantity"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" @click="handleSubmit">submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="resetForm">cancel</button>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
    export default {

        props: ['warehouse', 'warehouses'],
        
        data() {
            return {
                stocks: [],
                selectedWarehouse: this.warehouse.location,
                quantity: '',
                keyValue: '',
                itemType: null,
                action: null,
                per_page: 10,
                start: 0,
                recordsTotal: '',
                keyword: '',
                loading: false,
                current_page:1
            }
        },

        mounted() {
           this.getStock();
        },

        methods: {

            next() {
                this.current_page ++;
                this.start = (this.current_page -1) * this.per_page;
                this.getStock();
            },

            previous() {
                this.current_page --;
                this.start = (this.current_page -1)  * this.per_page;
                this.getStock();

            },

            goTo() {
                if(this.current_page < 1 || this.current_page > Math.ceil(this.recordsTotal/ this.per_page)) {
                   
                    this.current_page = 1;
                    return;
                } 

                this.start = (this.current_page -1)  * this.per_page;
                this.getStock();
            },

            handlePerPage() {
                this.current_page = 1;
                this.start = (this.current_page -1)  * this.per_page;
                this.getStock();
            },

            exportCSV() {
                window.open(this.warehouse.id + '/export');
            },

            search() {
                this.current_page = 1;
                this.getStock();
            },

            getStock() {
                this.loading = true;
                var endpoint;
                if( this.keyword ) { 
                    endpoint = '/admin/warehouse/stock/' + this.warehouse.id + '?start=' + this.start + '&length=' + this.per_page + '&itemCode=' + this.keyword;
                } else {
                    endpoint = '/admin/warehouse/stock/' + this.warehouse.id + '?start=' + this.start + '&length=' + this.per_page;
                }

                axios.get(endpoint)
                .catch(error => {
                        alert(error);
                    })
                    .then(({data}) => {
                        this.recordsTotal = data.recordsTotal;
                        this.stocks = data.data;
                        this.loading = false;
                    });
            },

            setPartIn(stock_part_id) {
                this.keyValue = stock_part_id;
                this.itemType = 'part';
                this.action = 'add';
            },

            setItemIn(parent_id) {
                this.keyValue = parent_id;
                this.itemType = 'item';
                this.action = 'add';
            },

            setPartOut(stock_part_id) {
                this.keyValue = stock_part_id;
                this.itemType = 'part';
                this.action = 'remove';
            },

            setItemOut( parent_id) {
                this.keyValue = parent_id;
                this.itemType = 'item';
                this.action = 'remove';
            },

            handleSubmit() {
            
            var endpoint= `${this.itemType}/${this.action}?log=${this.selectedWarehouse}&qty=${this.quantity}&${this.itemType}=${this.keyValue}&warehouse=${this.warehouse.id}`;
                axios.get(endpoint)
                    .catch(error => {
                            alert(error);
                        })
                        .then( ()=> {
                            this.getStock();
                            this.resetForm();
                        });
               
            },

            resetForm() {
                this.keyValue = '';
                this.itemType = '';
                this.action = '';
                this.quantity = '';
            },

        viewLog(warehouse_stock_id) {
          $.get('log/'+warehouse_stock_id, function(response) {
            
            bootbox.alert({message:response,size:'large', backdrop:true});
          });
        }
        }
    }
</script>